@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  background-image:
    linear-gradient(to right, #13110c 1px, transparent 1px),
    linear-gradient(to bottom, #13110c 1px, transparent 1px);
  background-size: 55px 55px;
}
   

.cart {
    /* transition: transform 0.3s ease-in-out; */
    transition: border 0.6s ease;

}
.cart:hover {
    /* transform: scale(1.02); */
    border: 1px solid rgb(3, 84, 189);
}


.tag {
  position: absolute;
  opacity: 0;
  animation: float 6s ease-in-out infinite;
}

@keyframes float {
  0%   { opacity: 0; transform: translateY(20px); }
  20%  { opacity: 1; }
  50%  { transform: translateY(-20px); }
  80%  { opacity: 1; }
  100% { opacity: 0; transform: translateY(20px); }
}

.ff {
    opacity: 0.2;
    
}
.link:hover {
    transform: scale(1.09);
}
.link {
    transition: transform 0.3s ease-in-out;
}

html {
  scroll-behavior: smooth;
}

* {
    /* outline: 1px solid red; */
}


